body{
  color: #ffffff;
}

.jumbotron {
  width: 90%;
	max-width: 400px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 60px 20px 60px 20px;
  background-color: #333333;
}

h3 {
	margin-bottom: 30px;
}

h4 {
  font-size: 18px;
  color: #blue;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h4 img{
  display:block;
    width:100px;
    height:50px;
    outline:none;
    padding:27px 50px 27px 50px;
    margin:0 auto 1px auto;
    background-image:url("./public/photo.png");;
    background-repeat:repeat;
    background-color: #333333;
}

footer{
  width: 90%;
	max-width: 400px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  font-size: 11px;
}
